<div class="container-fluid">
  <div class="col-md-4">
    <h1>Adicionar Prato</h1>

    <%= render 'form', dish: @dish %>

    <%= link_to 'Cancelar', dishes_path, :class => "btn btn-danger" %>

  </div>
</div>