<div class="container-fluid">
  <div class="col-md-6">
    <h1>Adicionar Restaurante</h1>

    <%= render 'form', restaurant: @restaurant %>

    <%= link_to 'Cancelar', restaurants_path, :class => "btn btn-danger" %>

  </div>
</div>